/* text */
/* 8px */
.text-sm {
  font-size: 0.5rem;
  line-height: 1rem;
}
/* 16px */
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* 24px */
.text-md {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* 32px */
.text-lg {
  font-size: 2rem;
  line-height: 2.5rem;
}
/* 48px */
.text-xl {
  font-size: 3rem;
  line-height: 4rem;
}

/* font-weight */
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}

/* text-align */
.ta-start {
  text-align: start;
}
.ta-end {
  text-align: end;
}
.ta-center {
  text-align: center;
}
.ta-justify {
  text-align: justify;
}
