.image-resp {
  max-width: 100%;
}

.image-round {
  max-width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
}
