.navigation {
  width: 100%;
  background: var(--card-bg);
}

.navigation__content {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  max-width: 10rem;
  display: flex;
  cursor: pointer;
}

.navigation__actions > ul {
  display: flex;
}
