@import "../components/reset.css";
@import "../components/avatar.css";
@import "../components/badge.css";
@import "../components/button.css";
@import "../components/alert.css";
@import "../components/cards.css";
@import "../components/image.css";
@import "../components/input.css";
@import "../components/text-utils.css";
@import "../components/spacing.css";
@import "./global.css";

/************** layout ****************/
body {
  display: grid;

  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas:
    "header  header"
    "sidebar main";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

/*********** text ****************/
.text-highlight {
  color: var(--yellow-code);
  /* color: #a6ce28; */
  /* color: #9c73ff; */
}

/******** component displays *********/
.display-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  border: 3px solid var(--black);
  border-radius: 15px;

  margin: 1.5rem auto;
  padding: 1rem 0;
}

.display-card-btn,
.display-card--horizontal-cards {
  flex-direction: column;
}

.display-card--vertical-cards,
.display-card--horizontal-cards {
  max-width: none;
}

.display-card--alert {
  display: block;
}

.display-card > img,
.display-card > div {
  margin: 1rem;
}

.display-card--images {
  padding: 1rem 2rem;
}

.btn--floating {
  position: static;
}

/*********** code snippets **************/
.code-snippet__wrapper {
  position: relative;
  max-width: 45rem;
}

.btn--copy {
  background-color: inherit;
  color: var(--font-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1rem;
  display: none;
}

.code-snippet__wrapper:hover > .btn--copy {
  display: block;
}

.code-snippet {
  background-color: var(--black);
  border-radius: 15px;
  max-height: 20rem;
  overflow: auto;
  padding: 2rem;

  display: flex;
  align-items: start;
}

pre {
  white-space: pre-line;
}

.hljs-tag .hljs-name,
.hljs-tag {
  color: var(--blue-code);
}

.hljs-tag .hljs-attr {
  color: var(--white-code);
}

.hljs-string {
  color: var(--yellow-code);
}

/************************************/
