@import "./global.css";

/************** layout ****************/
body {
  display: grid;

  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas:
    "header  header"
    "sidebar main";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  border-right: 3px solid var(--card-bg);
  min-width: 15rem;
  height: calc(100vh - 6rem);
  position: sticky;
  top: 5.5rem;
  overflow-y: auto;
}

.sidebar li {
  margin: 0.5rem 0;
}

.main {
  grid-area: main;
}

/*********** text ****************/
.text-highlight {
  color: var(--yellow-code);
}

/******** component displays *********/
.display-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  border: 3px solid var(--black);
  border-radius: 15px;

  margin: 1.5rem auto;
  padding: 1rem 0;
}

.display-card-btn,
.display-card--horizontal-cards {
  flex-direction: column;
}

.display-card--vertical-cards,
.display-card--horizontal-cards,
.display-card--navigation {
  max-width: none;
}

.display-card--alert {
  display: block;
}

.display-card > img,
.display-card > div {
  margin: 1rem;
}

.display-card > .grid-col-2 > div,
.display-card > .grid-col-3 > div,
.display-card > .grid-col-4 > div {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
}

.grid-col-2,
.grid-col-3,
.grid-col-4 {
  width: 100%;
}

.display-card--images {
  padding: 1rem 2rem;
}

.btn--floating {
  position: static;
}

/*********** code snippets **************/
.code-snippet__wrapper {
  position: relative;
  max-width: 45rem;
}

.btn--copy {
  background-color: inherit;
  color: var(--font-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1rem;
  display: none;
}

.code-snippet__wrapper:hover > .btn--copy {
  display: block;
}

.code-snippet {
  background-color: var(--black);
  border-radius: 15px;
  max-height: 20rem;
  overflow: auto;
  padding: 2rem;

  display: flex;
  align-items: start;
}

pre {
  white-space: pre-line;
}

.hljs-tag .hljs-name,
.hljs-tag {
  color: var(--blue-code);
}

.hljs-tag .hljs-attr {
  color: var(--white-code);
}

.hljs-string {
  color: var(--yellow-code);
}

/************************************/
