:root {
  --bg-color: #07010a;
  /* --bg-color: #040005; */
  --font-color: #ffffffbb;
  --white: #fff;
  --black: #0d0d0d;
  --primary: #6f00ed;
  --secondary: #db0b5f;

  --red: #e21717;
  --yellow: #ddd101;
  --green: #3dbe29;
  --grey: #474747;

  /* color for code snippets */
  --white-code: #ffffffcc;
  --blue-code: #12b0e8;
  --yellow-code: #f4ce2ccc;

  font-size: 75%;

  color-scheme: dark; /* for dark scrollbar */
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  max-width: 100%;
}

.width-90 {
  width: 90%;
}

/* 
  text and spacing utils delete/modify this section 
  after merging text-utils-and-lists branch 
*/
.ta-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}
/* 16px */
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* 24px */
.text-md {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* 32px */
.text-lg {
  font-size: 2rem;
  line-height: 2.5rem;
}
/* 48px */
.text-xl {
  font-size: 3rem;
  line-height: 4rem;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.m-sm {
  margin: 1rem;
}
.m-lg {
  margin: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ml-sm {
  margin-left: 1rem;
}
.ml-md {
  margin-left: 1.5rem;
}
.ml-lg {
  margin-left: 2rem;
}
.mr-md {
  margin-right: 1.5rem;
}
.mt-xs {
  margin-top: 0.5rem;
}
.mt-xl {
  margin-top: 2.5rem;
}
.p-sm {
  padding: 1rem;
}
.p-lg {
  padding: 2rem;
}
.px-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl-sm {
  padding-left: 1rem;
}
.pl-md {
  padding-left: 1.5rem;
}
/* spacing and text utils end */

/* header */
.logo {
  max-width: 12rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav > ul {
  display: flex;
  align-items: center;
}

.light-mode {
  background-color: inherit;
  border: none;
  color: var(--font-color);
  font-size: 1rem;
}

.header a:hover,
.light-mode:hover {
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

.header .fa-github,
.header .fa-sun,
.header .fa-moon {
  font-size: 1.5rem;
}

.header .fa-github {
  border-left: 1px solid var(--grey);
}

/* footer */
.footer {
  text-align: center;
  margin: 1rem;
}

.footer__highlight {
  color: var(--white);
  font-weight: 600;
}

/* larger than 480px */
@media only screen and (min-width: 30em) {
  :root {
    font-size: 90%;
  }
}

/* larger than 768px */
@media only screen and (min-width: 48em) {
  :root {
    font-size: 100%;
  }
}

/* larger than 1536px */
@media only screen and (min-width: 96em) {
  :root {
    font-size: 120%;
  }
}
