:root {
  --bg-color: #07010a;
  /* --bg-color: #040005; */
  --font-color: #ffffffbb;
  --white: #fff;
  --black: #0d0d0d;
  --primary: #6f00ed;
  --secondary: #433df2;

  --primary-light: #9233ff;
  --primary-extra-light: #9233ff4d;

  --secondary-light: #544ff3;
  --secondary-extra-light: #544ff360;

  /* color for code snippets */
  --white-code: #ffffffcc;
  --blue-code: #12b0e8;
  --yellow-code: #f4ce2ccc;

  --red: #e21717;
  --yellow: #ddd101;
  --green: #3dbe29;
  --blue: #1d4ed8;
  --grey: #474747;

  --btn-bg-default: #3b3b3b;
  --btn-hover-bg-default: #424242;

  --card-bg: #171717;
  --overlay: rgba(0, 0, 0, 0.5);

  --info: var(--blue-code);
  --info-bg: #12b0e812;
  --success: var(--green);
  --success-bg: #3dbe2919;
  --warning: var(--yellow);
  --warning-bg: #ddd10111;
  --error: #ff0000;
  --error-bg: #ff00000d;

  font-size: 75%;

  color-scheme: dark; /* for dark scrollbar */
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  max-width: 100%;
}

.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}

/* 
  text and spacing utils delete/modify this section 
  after merging text-utils-and-lists branch 
*/
.ta-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}
/* 16px */
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* 24px */
.text-md {
  font-size: 1.5rem;
  line-height: 2rem;
}
/* 32px */
.text-lg {
  font-size: 2rem;
  line-height: 2.5rem;
}
/* 48px */
.text-xl {
  font-size: 3rem;
  line-height: 4rem;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/* header */
.logo {
  max-width: 12rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav > ul {
  display: flex;
  align-items: center;
}

.light-mode {
  background-color: inherit;
  border: none;
  color: var(--font-color);
  font-size: 1rem;
}

.header a:hover,
.light-mode:hover {
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

.header .fa-github,
.header .fa-sun,
.header .fa-moon {
  font-size: 1.5rem;
}

.header .fa-github {
  border-left: 1px solid var(--grey);
}

/* footer */
.footer {
  text-align: center;
  margin: 1rem;
}

.footer__highlight {
  color: var(--white);
  font-weight: 600;
}

/* larger than 480px */
@media only screen and (min-width: 30em) {
  :root {
    font-size: 90%;
  }
}

/* larger than 768px */
@media only screen and (min-width: 48em) {
  :root {
    font-size: 100%;
  }
}

/* larger than 1536px */
@media only screen and (min-width: 96em) {
  :root {
    font-size: 120%;
  }
}
