@import "../components/main.css";

:root {
  font-size: 75%;
  color-scheme: dark; /* for dark scrollbar */
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  max-width: 100%;
}

.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}

/* header */
.logo {
  max-width: 12rem;
}

.header {
  position: sticky;
  top: 0;
  background: var(--bg-color);
  z-index: 100;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav > ul {
  display: flex;
  align-items: center;
}

.light-mode {
  background-color: inherit;
  border: none;
  color: var(--font-color);
  font-size: 1rem;
}

.header a:hover,
.light-mode:hover {
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

.header .fa-github,
.header .fa-sun,
.header .fa-moon {
  font-size: 1.5rem;
}

.header .fa-github {
  border-left: 1px solid var(--grey);
}

/* footer */
.footer {
  text-align: center;
  margin: 1rem;
}

.footer__highlight {
  color: var(--white);
  font-weight: 600;
}

/* larger than 480px */
@media only screen and (min-width: 30em) {
  :root {
    font-size: 90%;
  }
}

/* larger than 768px */
@media only screen and (min-width: 48em) {
  :root {
    font-size: 100%;
  }
}

/* larger than 1536px */
@media only screen and (min-width: 96em) {
  :root {
    font-size: 120%;
  }
}
